# Connection to Local DB

This is for local set up containing some 'SQL' scripts for creating tables and updating/inserting elements into the table

In [1]:
%load_ext sql

In [2]:
# Input your local username and password for connection
db_user = "root"
db_password = "Kenny@123"
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
%sql $connection_string

# Initial Database Setup

In [3]:
%%sql 
create database if not exists students_login_db;
select 'success';

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.

[('success',)]

In [4]:
%%sql 
use students_login_db;
select 'success';

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[('success',)]

In [5]:
%%sql 
drop table if exists students;
select 'success';

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[('success',)]

In [17]:
%%sql 
drop table if exists students_profile;
select 'success';

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[('success',)]

## Students
create table named students containing variables:
- uni
- first_name
- last_name
- middle_name
- email
- password
- status ("Verified"/"{Verification Code} sent to email when registration")

In [7]:
%%sql

create table students
(
    uni varchar(12) primary key,
    first_name varchar(128) not null,
    last_name varchar(128) not null,
    middle_name varchar(128) null,
    email varchar(256) not null,
    password varchar(256) not null,
    status varchar(128)  not null,
    constraint students_email_unique unique(email)
);

select 'success';

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[('success',)]

In [8]:
%sql describe students

 * mysql+pymysql://root:***@localhost
7 rows affected.

[('uni', 'varchar(12)', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(128)', 'NO', '', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('middle_name', 'varchar(128)', 'YES', '', None, ''),
 ('email', 'varchar(256)', 'NO', 'UNI', None, ''),
 ('password', 'varchar(256)', 'NO', '', None, ''),
 ('status', 'varchar(128)', 'NO', '', None, '')]

Try to insert data into the table (with new activation code)

In [9]:
%%sql 
insert into students_login_db.students(uni, last_name, first_name, email, password, status) values ("rl3155", "Liu", "Rosie", "rl3155@columbia.edu", "password", "ACTIVATION_CODE");
select 'success';

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.

[('success',)]

In [10]:
%sql select * from students;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('rl3155', 'Rosie', 'Liu', None, 'rl3155@columbia.edu', 'password', 'ACTIVATION_CODE')]

Try to update status to be "Verified"

In [11]:
%%sql update students set status="Verified" where uni="rl3155" and email="rl3155@columbia.edu";
select 'success';

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.

[('success',)]

In [12]:
%sql select * from students;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('rl3155', 'Rosie', 'Liu', None, 'rl3155@columbia.edu', 'password', 'Verified')]

## Students Profile
create table named students_profile containing variables:
- uni
- timezone
- major
- gender
- personal_message

In [18]:
%%sql

create table students_profile
(
    uni varchar(12) primary key,
    timezone varchar(128) not null,
    major varchar(128) not null,
    gender varchar(12) not null,
    personal_message varchar(256) null
);

select 'success';

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[('success',)]

In [19]:
%sql describe students_profile

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('uni', 'varchar(12)', 'NO', 'PRI', None, ''),
 ('timezone', 'varchar(128)', 'NO', '', None, ''),
 ('major', 'varchar(128)', 'NO', '', None, ''),
 ('gender', 'varchar(12)', 'NO', '', None, ''),
 ('personal_message', 'varchar(256)', 'YES', '', None, '')]

In [20]:
%%sql 
insert into students_login_db.students_profile(uni, timezone, major, gender, personal_message) values ("rl3155", "PST", "Data Science", "F", "I like to get up early to study!");
select 'success';

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.

[('success',)]

In [21]:
%sql select * from students_profile;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('rl3155', 'PST', 'Data Science', 'F', 'I like to get up early to study!')]