# Connection to Local DB

This is for local set up containing some 'SQL' scripts for creating tables and updating/inserting elements into the table

In [1]:
%load_ext sql

In [5]:
# Input your local username and password for connection
db_user = "root"
db_password = "password"
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
%sql $connection_string

# Initial Database Setup

In [6]:
%sql create database if not exists students_login_db

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [7]:
%sql use students_login_db

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [12]:
%sql drop table if exists students

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

create table named students containing variables:
- uni
- first_name
- last_name
- middle_name
- email
- password
- status ("Verified"/"{Verification Code} sent to email when registration")

In [15]:
%%sql

create table students
(
    uni varchar(12) primary key,
    first_name varchar(128) not null,
    last_name varchar(128) not null,
    middle_name varchar(128) null,
    email varchar(256) not null,
    password varchar(256) not null,
    status varchar(128)  not null,
    constraint students_email_unique unique(email)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [16]:
%sql describe students

 * mysql+pymysql://root:***@localhost
7 rows affected.

[('uni', 'varchar(12)', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(128)', 'NO', '', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('middle_name', 'varchar(128)', 'YES', '', None, ''),
 ('email', 'varchar(256)', 'NO', 'UNI', None, ''),
 ('password', 'varchar(256)', 'NO', '', None, ''),
 ('status', 'varchar(128)', 'NO', '', None, '')]

Try to insert data into the table (with new activation code)

In [19]:
%sql insert into students_login_db.students(uni, last_name, first_name, email, password, status) values ("rl3155", "Liu", "Rosie", "rl3155@columbia.edu", "password", "ACTIVATION_CODE");

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [20]:
%sql select * from students;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('rl3155', 'Rosie', 'Liu', None, 'rl3155@columbia.edu', 'password', 'ACTIVATION_CODE')]

Try to update status to be "Verified"

In [21]:
%sql update students set status="Verified" where uni="rl3155" and email="rl3155@columbia.edu";

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [22]:
%sql select * from students;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('rl3155', 'Rosie', 'Liu', None, 'rl3155@columbia.edu', 'password', 'Verified')]